.arkaplan{
    background-image: url("rumkale.jpg");
  }
  #sliderboyutu{
      width: 750px;
      height: 500px;
  }
  .fontbaslık{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .font{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: large;
  }
  .arkaplanyazı
  {
      background-color: white;
      width: 800px;
      height: 600px;
      margin-left: 300px;
  }
  .resim{
      margin: 20px;
  }
  #deneme{
      background-color: gray;
  }
  img {
    max-width: 100%;
    display: block;
    height: auto;
}